<!DOCTYPE html>
<html>
<head>
  <script defer src="/dist/conference.js"></script>
</head>
<body style='font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", sans-serif'>
  <div id="app"></div>
</body>
</html>