<h1>Conference: <%= conference.get('name') %></h1>

<table>
  <tr>
    <td><strong>Conference SID</strong></td>
    <td><%= conference.get('conferenceSid') %></td>
  </tr>
    <td><strong>Account SID</strong></td>
    <td><%= conference.get('accountSid') %></td>
  </tr>
  <tr>
    <td><strong>Created At</strong></td>
    <td><%= conference.get('createdAt') %></td>
  </tr>
