<!DOCTYPE html>
<html>
<head>
  <script defer src="/dist/index.js"></script>
</head>
<body>
  <h2>Conferences</h2>
  <p>Instructions: Try calling <%= phoneNumber %> and watch as a new Conference is created.</p>
  <div id="app"></div>
</body>
</html>