<!DOCTYPE html>
<html>
<head>
  <script defer src="/dist/index.js"></script>
</head>
<body>
  <h2>Conferences</h2>

  <strong>Apologies, the Twilio endpoint is currently pointed to development so all Twilio functionality is not working.</strong>

  <p style='text-decoration: line-through;'>Instructions: Try calling <%= phoneNumber %> and watch as a new Conference is created.</p>
  <div id="app"></div>
</body>
</html>